.access-request-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.notif-items {
    background-color: #ecedeb;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: calc(100% - 15%);
}

@media (min-width: 1024px) {
    .access-request-container {
        width: 380px;
    }

    .request-word {
        font-size: 14px;
    }
}