.add-device-laptop .add-device-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 60px;
}

.add-device-laptop .devices-list{
    width: 100%;
    background-color: white;
    position: fixed;
    overflow: auto;
    top: 13%;
    height: 100%;
    border-radius: 18px;
}

.add-device-back {
    padding: 8px 15px;
    cursor: pointer;
    position: absolute;
}

.add-device-title {
    color: #FFFFFF; 
    font-size: 1.5rem;
}

.add-device-arrow {
    color: #FFFFFF;
    font-size: 22px;
}

.add-device-word {
    color: #FFFFFF;
}

.sync-button {
    background-color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 8px;
}

.connect-div {
    display: flex;
    height: calc(100% - 50%);
    align-items: flex-end;
    justify-content: center;
}

.add-device-connect {
    background-color: #204160;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

@media (min-width: 1280px) and (min-height: 720px) {
    .add-device-laptop .devices-list{
        top: 12%;
    }
}


@media (min-width: 1280px) {
    .add-device-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    }

    .add-device-laptop{
        border-radius: 30px;
        width: 480px;
        height: 650px;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column; /* Ensures children stack vertically */
        overflow: hidden;
        z-index: 300;
    }

    .add-device-laptop .add-device-header {
        z-index: 300;
        width: 100%;
        top: 0;
        padding: 25px;
    }

    .add-device-laptop .devices-list{
        top: 10%;
    }

    .add-device-word, .add-device-title, .add-device-arrow {
        color: #404040;
    }

    .sync-button {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    .connect-div {
        height: 40%;
    }

    .add-device-back {
        padding: 8px 10px;
    }

    .sync-button {
        margin-right: 15px;
    }

}

@media (min-width: 1440px) {
    .add-device-word {
        font-size: 1.1rem;
    }

    .add-device-arrow {
        font-size: 23px;
    }

    .sync-button {
        width: 35px;
        height: 35px;
        margin-right: 12px;
    }

    .add-device-laptop .add-device-header {
        padding: 20px;
    }

    .add-device-connect h6 {
        font-size: 1.1rem;
    }

}

@media (min-width: 1920px) {
    .add-device-word {
        font-size: 1.2rem;
    }

    .add-device-arrow {
        font-size: 25px;
    }

    .sync-button {
        width: 40px;
        height: 40px;
    }

    .add-device-connect h6 {
        font-size: 1.2rem;
    }

    .add-device-laptop {
        width: 550px;
        height: 700px;
    }

}