.small_circle {
    width: 10px;
    height: 10px;
    background-color: #4c7380; /* Inner circle color */
    border-radius: 50%; /* Make it circular */
    border: 2px solid white; /* White border */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .big_circle {
    width: 25px;
    height: 25px;
    background-color: #4c7380; /* Inner circle color */
    border-radius: 50%; /* Make it circular */
    border: 3px solid white; /* White border */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
  }
