.device-overview {
  position: relative;
  top: 60px;
}

.device-title-pen-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-image-icon {
  z-index: 0;
}

.device-title {
  color: #FFFFFF;
  font-size: 1.4rem;
}

.device-data {
  font-size: 48px;
  color: white;
  margin-right: 4px;
}

.device-data-unit {
  font-size: 30px; 
  color: white;
}

.device-label {
    font-size: 18px;
    color: white;
    word-wrap: break-word;
    max-width: 150px;
}

.device-button {
    background-color: #ffffff;
    width: 70px;
    height: 50px;
    border-radius: 15px;
}

.unit-label {
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.drag-line {
  border-top: 1px solid #cdcdcd;
  width: calc(100% - 30%);
}


@media (min-width: 1600px) {
  .drag-line {
    width: 65%;
  }
}


@media (min-width: 1024px) and (min-height: 650px) {

    .device-overview {
      top: -25px;
      width: 100vw;
      height: 40vh; 
    }

    .device-feature-button {
      height: 9vh;
    }

    .device-info {
      height: 22vh;
    }

    .device-title {
      padding: 5px;
    }
    
  }
