.device-setting-header {
    display: flex; 
    justify-content: space-between;
    width: 100%; 
    position: relative; 
    top: 60px;
}

.device-setting-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: fixed;
    background-color: white;
    top: 13%;
    height: 100%;
    border-radius: 18px;
    width: 100vw;
}

.device-setting-input {
    background-color: #eeeeee;
    border-radius: 10px;
    width: 80vw;
    height: 40px;
    box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding-left: 15px;
    font-size: 17px;
    border: 2px solid;
}

.device-setting-title {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.device-setting-arrow {
    color: #FFFFFF; 
}

.device-setting-back {
    color: #FFFFFF;
    font-size: 16px;
}

.device-setting-confirm {
    display: flex;
    height: calc(100% - 75%);
    align-items: flex-end;
    justify-content: center;
}

.device-setting-name {
    color: #204160; 
    font-size: 18px;
}

.devices-icon-div {
    border-radius: 50%;
    max-width: calc(100% - 20%);
    max-height: calc(100% - 20%);
}

.device-setting-confirm-btn {
    background-color: #204160;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    margin: 30px auto;
    padding: 5px 40px; 
}

@media (min-width: 1024px) {
    .device-setting-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    }

    .device-setting-laptop{
        border-radius: 30px;
        width: 380px;
        height: 520px;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 300;
    }

    .device-setting-content {
        width: 380px;
        top: 10%;
    }

    .device-setting-input {
        width: 300px;
    }

    .device-setting-header{
        z-index: 300;
        width: 100%;
        top: 0;
        padding: 25px;
    }

    .device-setting-title, .device-setting-arrow, .device-setting-back {
        color: #404040;
    }

    .device-setting-confirm {
        height: calc(100% - 85%);
    }

    .device-setting-title {
        font-size: 1.25rem;
    }

    .device-setting-back {
        font-size: 14px;
    }

    .device-setting-label {
        font-size: 15px;
    }

    .devices-icon-div {
        max-width: calc(100% - 30%);
        max-height: calc(100% - 30%);
    }

    .device-setting-confirm-btn {
        margin: 10px auto;
    }

}

