
.add-room-button {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.room-item {
    transition: border 0.2s ease-in-out;
    outline: none;
    border-radius: 16px;
  }

.room-container {
    top: 28vh;
    height: 100%;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 28%;
}

.weather-div {
  position: absolute;
  top: 13%
}


.homesync-title {
  color: #ffffff;
  font-size: 20px;
  margin-left: 10px;
  margin-top: -5%;
}

.room-minus-button {
    cursor: pointer;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 28px;
    height: 28px;
}

.minus-white {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    z-index: 0;
}

.room-item-div{
  padding-top: 5px;
}

.device-count span{
  font-weight: 600;
}


  @media (min-width: 1024px) {

    .room-container-title {
      font-size: 1.3rem;
    }

    .room-container{
      left: 2.5%;
      padding: 10px;
      height: 72%;
      border-radius: 18px 18px 0 0;
    }

    .room-item-div{
      height: 90%;
    }

    .edit {
      font-size: 18px;
    }

    .add-room-button {
      width: 27px;
      height: 27px;
    }

    .room-minus-button {
      cursor: pointer;
      position: absolute;
      top: -8px;
      left: -8px;
      width: 30px;
      height: 30px;
    }  

    .room-header {
      padding: 2%;
    }
    
    .room-item-border {
      padding-top: 1.5rem; 
      padding-bottom: 1.8rem; 
     
    }

    .room-title {
      font-weight: 600;
      font-size: 17px;
    }

  }

  
  /* Responsive Design: Apply a different border color on desktop */
  @media (min-width: 1024px) {
    .room-item:focus {
    background: linear-gradient(90deg, #789EDC 50%, transparent 50%), 
                linear-gradient(90deg, #789EDC 50%, transparent 50%), 
                linear-gradient(0deg, #789EDC 50%, transparent 50%), 
                linear-gradient(0deg, #789EDC 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 95px 6px, 95px 6px, 6px 80px, 6px 80px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
    animation: dash 2s linear infinite;
    padding: 8px;
    transition: padding 0.1s ease-in-out;
    }
  }


@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    } 
} 
  