
.logo-border {
    border: 1px dotted white;
    background-color: transparent;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-border .logo-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3C1A3;
    width: 55px;
    height: 55px;
  }

  .logo-core {
    background-color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


@media (min-width: 1024px) { 
    .logo-border {
      width: 65px;
      height: 65px;
    }

    .logo-border .logo-inner {
      width: 55px;
      height: 55px;
    }

    .logo-core {
        width: 45px;
        height: 45px;
    }

    .logo-div {
      margin-top: -25%;
    }
}
