.no-collab-div {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
  
.no-collab-message {
    font-size: 15px; 
    font-weight: 500;
}

@media (min-width: 1024px) {
    .no-collab-div {
        width: 380px;
    }
}
