.collab-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.view-collab-header {
    position: relative; 
    top: 60px;
}

.view-collab-back {
    padding: 8px 15px;
    cursor: pointer;
    position: absolute;
}

.view-collab-arrow {
    color: #FFFFFF;
}

.view-collab-word {
    margin-left: 8px;
    color: #FFFFFF;
    font-size: 16px;
}

.view-collab-title {
    color: #FFFFFF; 
    font-size: 1.5rem;
}

.view-collab-laptop {
    top: 13%;
    height: 100%;
    border-radius: 18px;
    background-color: #FFFFFF;
    position: fixed;
}

.view-collab-add-btn {
    background-color: #204160;
    width: 30px;
    height: 30px;
}

.add-collab-btn-div {
    width: 50%;
}



@media (min-width: 1024px) {
    .view-collab-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    }

    .view-collab-container {
        border-radius: 30px;
        width: 380px;
        height: 520px;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        position: absolute;
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 300;
    }

    .collab-list {
        width: 380px;
    }

    .view-collab-header {
        top: 0px;
        padding: 25px;
    }

    .view-collab-back {
        padding: 8px 0;
    }

    .view-collab-word, .view-collab-title, .view-collab-arrow {
        color: #404040;
    }

    .view-collab-laptop {
        top: 10%;
        width: 480px;
    }

    .view-collab-title {
        font-size: 1.25rem;
    }

    .view-collab-word {
        font-size: 14px;
    }

    .collab-names {
        font-size: 15px;
    }

    .view-collab-add-btn {
        width: 27px;
        height: 27px;
    }

    .add-collab-btn-div {
        width: 28%;
    }
    

}