.warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: calc(100% - 94%);
}

@media (min-width: 1024px) {
    .warning-container {
        width: 380px;
    }

    .warning-word {
        font-size: 14px;
    }
}