/* OTP.css */
.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #1E3A5F; */
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
}

.logo-container {
  margin-top: 20px;
  position: relative;
}

.image-container {
  margin-top: 80px;
}

.image {
  width: 180px;
  height: auto;
}

.otp-text {
  font-size: 16px;
  margin-top: 20px;
  color: #e5e7eb;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background-color: #f8fafc;
  color: #1e3a5f;
  font-weight: bold;
}

.verify-button {
  margin-top: 20px;
  width: 200px;
  height: 45px;
  background-color: #ff9aa2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.verify-button:hover {
  background-color: #ff758f;
}

.resend-button {
  margin-top: 10px;
  background: none;
  color: #e5e7eb;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.verification-message {
  margin-top: 10px;
  color: #6ee7b7;
  font-size: 16px;
  font-weight: bold;
}
